@import "../../styles/variables";

.wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
  // padding-bottom: 40px;
  @media only screen and (min-width: $medium) {
    width: 50%;
  }
}

.title {
  z-index: 500;
  font-size: 100px;
  // margin: 300px 300px;
  color: white;
  margin: 0;
  padding: 0;
  mix-blend-mode: difference;
}

.heroText {
  font-size: 18px;
  mix-blend-mode: difference;
  color: rgb(255, 255, 255);
}
