.bottom {
  width: 100%;
  background: rgb(230, 230, 230);
}

.container {
  background: rgb(230, 230, 230);
  min-height: 100vh;
}

.curved {
  position: absolute;
  bottom: 0;
  background: #00cba9;
  fill: rgb(230, 230, 230);
}

.curvedBottom {
  position: fixed;
  bottom: 0;
  background: rgb(230, 230, 230);
  fill: #00cba9;
}

.top {
  position: relative;
  margin: 0;
  padding: 0;
  background: #00cba9;
  width: 100%;
  height: 30vh;
}
