.bottom {
  width: 100%;
  background: rgb(230, 230, 230);
}

.container {
  background: rgb(230, 230, 230);
  min-height: 100vh;
  position: relative;
}

.curved {
  position: absolute;
  bottom: 0;
  background: #027373;
  fill: rgb(230, 230, 230);
}

.curvedBottom {
  position: absolute;
  bottom: 0;
  background: rgb(230, 230, 230);
  fill: #027373;
}

.top {
  position: relative;
  margin: 0;
  padding: 0;
  background: #027373;
  width: 100%;
  height: 300px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}
